:root {
    --selected-icon-bg-color: #dfdfdf;
}

body {
    position: relative;
    margin: 0px;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    overflow: hidden;
}

#whiteboardContainer {
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
}

.btn-group button {
    background: transparent;
    border: 2px solid #636060;
    margin: -1px;
    /* Green border */
    color: black;
    /* White text */
    padding: 11px 14px;
    /* Some padding */
    cursor: pointer;
    /* Pointer/hand icon */
    float: left;
    /* Float the buttons side by side */
    font-size: 1.2em;
    height: 45px;
    width: 50px;
}

button::-moz-focus-inner {
    border: 0;
}

.whiteboard-edit-group.group-disabled {
    background: repeating-linear-gradient(
        45deg,
        rgba(255, 166, 0, 0.366),
        rgba(255, 166, 0, 0.366) 10px,
        rgba(255, 166, 0, 0.666) 10px,
        rgba(255, 166, 0, 0.666) 20px
    );
}

/*
 * Deactivate all pointer events on all the children
 * of a group when it's disabled.
 */
.whiteboard-edit-group.group-disabled > * {
    pointer-events: none;
}

/* Clear floats (clearfix hack) */

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */

.btn-group button:hover {
    background-color: #9a9a9a;
}

button {
    outline-width: 0;
}

.btn-group {
    background-color: #808080ab;
    margin-left: 5px;
    margin-bottom: 5px;
    float: left;
    position: relative;
}

.whiteboard-tool.active:not(:disabled) {
    background: var(--selected-icon-bg-color);
}

#whiteboardThicknessSlider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 3px;
    background: transparent;
    outline: none;
    opacity: 1;
    -webkit-transition: opacity 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;
}

.textBox.active {
    border: 1px dashed gray;
}

.textBox > .removeIcon,
.textBox > .moveIcon {
    display: none;
}

.textBox.active > .removeIcon,
.textBox.active > .moveIcon {
    display: block;
}

.modalBtn {
    padding: 5px;
    border-radius: 5px;
    border: 0px;
    min-width: 50px;
    cursor: pointer;
}

#displayWhiteboardInfoBtn.active {
    background: var(--selected-icon-bg-color);
}

#whiteboardInfoContainer {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.displayNone {
    display: none;
}
